mixin sCatalog(data)
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		+e.container.container
			+b.section-title.text-center
				h2 Produkte
				p Mit leistungsstarken SOLO Sprühgeräten und Spritzgeräten können Sie kräfteschonend und präzise Samen, Granulate, Dünger oder Pflanzenschutzmittel ausbringen – auch auf schwierigem Terrain.
			+e.filter-row.row
				+filterItem("Alle Produkte")(class="active")
				+filterItem("Spritzen")
				+filterItem("Handspritzen")
				+filterItem("Druckspritzen")
				+filterItem("Rückenspritzen")
				+filterItem("Akkuspritzen")
				+filterItem("Schaumsprüher")
				.col-12.d-sm-none
					select.form-control.form-select
						//-Filtern nach:
						option Druckspritzen
						option Druckspritzen2
						option Druckspritzen3
			+e.slider
				+b.catalog-prev--js
					+icon('chevron-left')
				+b.catalog-next--js
					+icon('chevron-right')
				.swiper-container.catalog-slider-js
					.swiper-wrapper
						//-try use object later
						+catalogSlide({
							imgNum: '1',
							nameTxt: '402 Hand-Druckspritze',
							descr: '2,0 Liter  Handruckspitze',
							discount: '-15%',
							activeLike: false,
							oldPrice: '289,48 €*',
							newPrice: '281,02 €*',
							grayTxt: '6',
						})
						+catalogSlide({
							imgNum: '2',
							nameTxt: '416 LI AKKU-SPRITZE',
							descr: 'Rückentragbar',
							discount: '-21%',
							activeLike: true,
							oldPrice: '499,48 €*',
							newPrice: '484.50 €*',
							grayTxt: '3',
						})
						+catalogSlide({
							imgNum: '3',
							nameTxt: '404 COMFORT',
							descr: '2,0 Liter  Handruckspitze',
							oldPrice: '€18.89 ',
						})
						+catalogSlide({
							imgNum: '4',
							nameTxt: '417 AKKU-SPRITZE',
							descr: 'Rückentragbar',
							discount: '-15%',
							oldPrice: '289,48 €*',
							newPrice: '281,02 €*',
							grayTxt: '6',
						})
						+catalogSlide({
							imgNum: '4',
							nameTxt: '417 AKKU-SPRITZE',
							descr: 'Rückentragbar',
							discount: '-15%',
							oldPrice: '289,48 €*',
							newPrice: '281,02 €*',
							grayTxt: '6',
						})
						+catalogSlide({
							imgNum: '4',
							nameTxt: '417 AKKU-SPRITZE',
							descr: 'Rückentragbar',
							discount: '-15%',
							oldPrice: '289,48 €*',
							newPrice: '281,02 €*',
							grayTxt: '6',
						})
				+b.catalog-pugin--js.d-sm-none
			+e.btn-cont
				+e.btn(href="#") ALLE PRUKTE ENTDECKEN
	// end sCatalog

mixin filterItem(txt)
	+e.row-col.col-auto.d-none.d-sm-block
		+e.filter-item(href="#")&attributes(attributes)=txt

mixin catalogSlide(data)
	.swiper-slide
		+e.item.bg-wrap
			+pic("new-slide-6.jpg",'bg',0).picture-bg
			if data.discount
				+e.discount=data.discount
			if data.activeLike
				+e.like-btn.active(href="#")
					+icon('heart')
			else
				+e.like-btn(href="#")
					+icon('heart')
			+e.img(href="#")
				img.swiper-lazy(src="#" data-src=`img/@2x/catalog-item-${data.imgNum}.png` alt="")
			+e.caption
				+e.caption-head
					+b.stars-block
						+icon('star')
						+icon('star')
						+icon('star')
						+icon('star')
						+icon('star')
					+e.descr(href="#") Details
				+e.caption-toggle
					+e.name(href="#")=data.nameTxt
					+e.descr=data.descr
				+e.price-cont
					if data.newPrice
						+e.price--new=data.newPrice
						+e.price--old=data.oldPrice
					else
						+e.price--common=data.oldPrice
				if data.grayTxt
					+e.gray
						span Inhalt:
						span=data.grayTxt

mixin catalogItem(data)
	//-.sCatalog__
	.sCatalog__item.bg-wrap
		
		+pic("new-slide-6.jpg",'bg',0).picture-bg
		if data.discount
			.sCatalog__discount=data.discount
		if data.activeLike
			.sCatalog__like-btn.active(href="#")
				+icon('heart')
		else
			.sCatalog__like-btn(href="#")
				+icon('heart')
		.sCatalog__img(href="#")
			img(loading="lazy" src=`img/@2x/catalog-item-${data.imgNum}.png` alt="")
		.sCatalog__caption
				.sCatalog__caption-head
					+b.stars-block
						+icon('star')
						+icon('star')
						+icon('star')
						+icon('star')
						+icon('star')
					.sCatalog__descr(href="#") Details
				.sCatalog__caption-toggle
					.sCatalog__name(href="#")=data.nameTxt
					.sCatalog__descr=data.descr
				.sCatalog__price-cont
					if data.newPrice
						.sCatalog__price.sCatalog__price--new=data.newPrice
						.sCatalog__price.sCatalog__price--old=data.oldPrice
					else
						.sCatalog__price.sCatalog__price--common=data.oldPrice
				if data.grayTxt
					.sCatalog__gray
						span Inhalt:
						span=data.grayTxt

mixin sMayInteresting(data)
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		+e.container.container
			+b.section-title.text-center
				h2 Das könnte Sie auch interessieren
			+e.slider
				+b.catalog-prev--js
					+icon('chevron-left')
				+b.catalog-next--js
					+icon('chevron-right')
				.swiper-container.catalog-slider-js
					.swiper-wrapper
						//-try use object later
						+catalogSlide({
							imgNum: '1',
							nameTxt: '402 Hand-Druckspritze',
							descr: '2,0 Liter  Handruckspitze',
							discount: '-15%',
							activeLike: false,
							oldPrice: '289,48 €*',
							newPrice: '281,02 €*',
							grayTxt: '6',
						})
						+catalogSlide({
							imgNum: '2',
							nameTxt: '416 LI AKKU-SPRITZE',
							descr: 'Rückentragbar',
							discount: '-21%',
							activeLike: true,
							oldPrice: '499,48 €*',
							newPrice: '484.50 €*',
							grayTxt: '3',
						})
						+catalogSlide({
							imgNum: '3',
							nameTxt: '404 COMFORT',
							descr: '2,0 Liter  Handruckspitze',
							oldPrice: '€18.89 ',
						})
						+catalogSlide({
							imgNum: '4',
							nameTxt: '417 AKKU-SPRITZE',
							descr: 'Rückentragbar',
							discount: '-15%',
							oldPrice: '289,48 €*',
							newPrice: '281,02 €*',
							grayTxt: '6',
						})
						+catalogSlide({
							imgNum: '4',
							nameTxt: '417 AKKU-SPRITZE',
							descr: 'Rückentragbar',
							discount: '-15%',
							oldPrice: '289,48 €*',
							newPrice: '281,02 €*',
							grayTxt: '6',
						})
						+catalogSlide({
							imgNum: '4',
							nameTxt: '417 AKKU-SPRITZE',
							descr: 'Rückentragbar',
							discount: '-15%',
							oldPrice: '289,48 €*',
							newPrice: '281,02 €*',
							grayTxt: '6',
						})
				+b.catalog-pugin--js.d-sm-none
	// end sCatalog

mixin sPopular(data)
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		+e.container.container
			+b.section-title.text-center
				h2 Beliebte Produkte
			+e.slider
				+b.catalog-prev--js
					+icon('chevron-left')
				+b.catalog-next--js
					+icon('chevron-right')
				.swiper-container.catalog-slider-js
					.swiper-wrapper
						//-try use object later
						+catalogSlide({
							imgNum: '1',
							nameTxt: '402 Hand-Druckspritze',
							descr: '2,0 Liter  Handruckspitze',
							discount: '-15%',
							activeLike: false,
							oldPrice: '289,48 €*',
							newPrice: '281,02 €*',
							grayTxt: '6',
						})
						+catalogSlide({
							imgNum: '2',
							nameTxt: '416 LI AKKU-SPRITZE',
							descr: 'Rückentragbar',
							discount: '-21%',
							activeLike: true,
							oldPrice: '499,48 €*',
							newPrice: '484.50 €*',
							grayTxt: '3',
						})
						+catalogSlide({
							imgNum: '3',
							nameTxt: '404 COMFORT',
							descr: '2,0 Liter  Handruckspitze',
							oldPrice: '€18.89 ',
						})
						+catalogSlide({
							imgNum: '4',
							nameTxt: '417 AKKU-SPRITZE',
							descr: 'Rückentragbar',
							discount: '-15%',
							oldPrice: '289,48 €*',
							newPrice: '281,02 €*',
							grayTxt: '6',
						})
						+catalogSlide({
							imgNum: '4',
							nameTxt: '417 AKKU-SPRITZE',
							descr: 'Rückentragbar',
							discount: '-15%',
							oldPrice: '289,48 €*',
							newPrice: '281,02 €*',
							grayTxt: '6',
						})
						+catalogSlide({
							imgNum: '4',
							nameTxt: '417 AKKU-SPRITZE',
							descr: 'Rückentragbar',
							discount: '-15%',
							oldPrice: '289,48 €*',
							newPrice: '281,02 €*',
							grayTxt: '6',
						})
				+b.catalog-pugin--js.d-sm-none

mixin sMayInterestingAlt(data)
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		+e.container.container
			+b.section-title.text-center
				h2 Kürzlich angesehene Artikel
			+e.slider
				+b.catalog-prev--js
					+icon('chevron-left')
				+b.catalog-next--js
					+icon('chevron-right')
				.swiper-container.catalog-slider-js
					.swiper-wrapper
						//-try use object later
						+catalogSlide({
							imgNum: '1',
							nameTxt: '402 Hand-Druckspritze',
							descr: '2,0 Liter  Handruckspitze',
							discount: '-15%',
							activeLike: false,
							oldPrice: '289,48 €*',
							newPrice: '281,02 €*',
							grayTxt: '6',
						})
						+catalogSlide({
							imgNum: '2',
							nameTxt: '416 LI AKKU-SPRITZE',
							descr: 'Rückentragbar',
							discount: '-21%',
							activeLike: true,
							oldPrice: '499,48 €*',
							newPrice: '484.50 €*',
							grayTxt: '3',
						})
						+catalogSlide({
							imgNum: '3',
							nameTxt: '404 COMFORT',
							descr: '2,0 Liter  Handruckspitze',
							oldPrice: '€18.89 ',
						})
						+catalogSlide({
							imgNum: '4',
							nameTxt: '417 AKKU-SPRITZE',
							descr: 'Rückentragbar',
							discount: '-15%',
							oldPrice: '289,48 €*',
							newPrice: '281,02 €*',
							grayTxt: '6',
						})
						+catalogSlide({
							imgNum: '4',
							nameTxt: '417 AKKU-SPRITZE',
							descr: 'Rückentragbar',
							discount: '-15%',
							oldPrice: '289,48 €*',
							newPrice: '281,02 €*',
							grayTxt: '6',
						})
						+catalogSlide({
							imgNum: '4',
							nameTxt: '417 AKKU-SPRITZE',
							descr: 'Rückentragbar',
							discount: '-15%',
							oldPrice: '289,48 €*',
							newPrice: '281,02 €*',
							grayTxt: '6',
						})
				+b.catalog-pugin--js.d-sm-none
			+e.btn-cont
				+e.btn(href="#") ALLE PRUKTE ENTDECKEN

mixin sAccessories(data)
	// start sCatalog
	+b.SECTION.sCatalog--accssesories.section#sCatalog&attributes(attributes)
		+e.container.container
			+b.section-title.text-center
				h2 Zubehör macht den Unterschied
				p
					| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
					br.d-none.d-xxl-block
					| Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
			+e.filter-row.row
				+filterItem("Lanzen")(class="active")
				+filterItem("Düsen und Spritzschrime")
				+filterItem("Dichtungen")
				+filterItem("Zubehör für Motorspritzen und Sprühgeräte")
				+filterItem("weiteres Zubehör")
				.col-12.d-sm-none
					select.form-control.form-select
						//-Filtern nach:
						option Druckspritzen
						option Druckspritzen2
						option Druckspritzen3
			+e.slider
				+b.catalog-prev--js
					+icon('chevron-left')
				+b.catalog-next--js
					+icon('chevron-right')
				.swiper-container.catalog-slider-js
					.swiper-wrapper
						//-big-slide
						+b.swiper-slide--big
							.sUsage__item
								a.sUsage__img.sUsage__img--long(href='#')
									img(loading="lazy" src=`img/@2x/sProdDet-1.png` alt="")
								.sUsage__descr
									a.sUsage__txt(href="#")
										span.d-block
											| Düsen und Spritzschirme
											|
											br.d-none.d-xxl-block
											| für Druck und Rückenspritzen
										.sUsage__all-link(href="#") ALLE PRODUKTE ANSEHEN
									.sUsage__icon
										img.img-svg-js(loading="lazy" src=`img/svg/usage-slide-icon-2.svg` alt="")
						+catalogSlide({
							imgNum: '2',
							nameTxt: '416 LI AKKU-SPRITZE',
							descr: 'Rückentragbar',
							discount: '-21%',
							activeLike: true,
							oldPrice: '499,48 €*',
							newPrice: '484.50 €*',
							grayTxt: '3',
						})
						+catalogSlide({
							imgNum: '3',
							nameTxt: '404 COMFORT',
							descr: '2,0 Liter  Handruckspitze',
							oldPrice: '€18.89 ',
						})
						//-
						+catalogSlide({
							imgNum: '4',
							nameTxt: '417 AKKU-SPRITZE',
							descr: 'Rückentragbar',
							discount: '-15%',
							oldPrice: '289,48 €*',
							newPrice: '281,02 €*',
							grayTxt: '6',
						})
						+catalogSlide({
							imgNum: '4',
							nameTxt: '417 AKKU-SPRITZE',
							descr: 'Rückentragbar',
							discount: '-15%',
							oldPrice: '289,48 €*',
							newPrice: '281,02 €*',
							grayTxt: '6',
						})
						+catalogSlide({
							imgNum: '4',
							nameTxt: '417 AKKU-SPRITZE',
							descr: 'Rückentragbar',
							discount: '-15%',
							oldPrice: '289,48 €*',
							newPrice: '281,02 €*',
							grayTxt: '6',
						})
				+b.catalog-pugin--js.d-sm-none
			+e.btn-cont
				+e.btn(href="#") ALLE PRUKTE ENTDECKEN